* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.td-backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .3);
    z-index: 100;
}

.td-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 4px;
    min-width: 210px;
    z-index: 101;
}

.td-title {
    font-size: 18px;
    font-weight: normal;
    height: 40px;
    line-height: 40px;
    text-indent: 20px;
    border-bottom: 1px solid #c7c7c7;
}

.td-content {
    text-align: center;
    padding: 20px;
    line-height: 20px;
    font-size: 16px;
}

.td-btns {
    border-top: 1px solid #c7c7c7;
    font-size: 15px;
}

.td-ok-btn, .td-cancel-btn {
    display: inline-block;
    width: 50%;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.td-cancel-btn {
    border-right: 1px solid #c7c7c7;
    color: #7c7c7c;
}

.td-ok-btn {
    color: #05b47a;
}

.td-ok-btn-wide {
    width: 100%;
    font-size: 16px;
    color: #3e3e3e;
}
